body {
	background-color: #232323;
}
.text {
	color: #c2c2bd;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.text_mini{
	color: gray;
}
.paybutton{
	margin-bottom: 30px;
}
.btn{
	margin-right: 5px;
}
.rating{
	margin: 30px;
	padding: 0;
	border: none;
}
.rating__group{
	position: relative;
	width: 10em;
	height: 2em;
	background-image: url(star_gray.png);
	background-size: 2em auto;
	background-repeat: repeat-x;
}
.rating__star{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 2em;
	background-size: 2em auto;
	background-repeat: repeat-x;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.rating__star:focus{
	outline: none;
}
.rating__star:checked,
.rating__star:hover{
	background-image: url(star_gold.png);
}
.rating__star:hover ~ .rating__star{
	background-image: url(star_gray.png);
}
.rating__star:nth-of-type(1){
	z-index: 5;
	width: 2em;
}
.rating__star:nth-of-type(2){
	z-index: 4;
	width: 4em;
}
.rating__star:nth-of-type(3){
	z-index: 3;
	width: 6em;
}
.rating__star:nth-of-type(4){
	z-index: 2;
	width: 8em;
}
.rating__star:nth-of-type(5){
	z-index: 1;
	width: 10em;
}
